/* dashboard */

#loadingOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(40, 24, 30, 0.8);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  font-size: 20px;
}

#loading {
  z-index: 1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

input.invalid {
  background-color: #ffdddd;
}


.imageerror {
  color: red;
}
.loadingText {
  width: 70%;
  align-self: center;
  text-align: center;
  font-family: Menlo, Monaco;
}

#dialogoverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(40, 24, 30, 0.8);
  width: 100%;
  height: 100%;
  z-index: 10;
}

#dialogbox {
  display: none;
  position: fixed;
  background: #fff;
  border-radius: 7px;
  width: 450px;
  min-height: 200px;
  z-index: 10;
  top: 28%;
  left: 35%;
  box-shadow: 2px 2px 7px 4px black;
  animation-name: dialogbox;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes dialogbox {
  0% {opacity: 0;}
  20% {opacity: 0.3;}
  50% {opacity: 0.5;}
  70% {opacity: 0.7;}
  100% {opacity: 1;}
}

#dialoghead {
  background: #666;
  font-size: 19px;
  padding: 10px;
  color: #ccc;
  border-radius: 7px 7px 0 0;
}

#dialogbody {
  text-align: center;
  background: #FFF;
  font-size: 19px;
  padding: 35px;
  animation-name: dialogbody;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  color: white;
}

@keyframes dialogbody {
  0% {background-color: #fff}
  50% {background-color: pink}
  100% {background-color: rgb(40, 24, 30, 0.7)}
}

#dialogfooter {
  background: #666;
  padding: 10px;
  color: #ccc;
  text-align: right;
}

@media screen and (max-width: 600px) {
  #dialogbox {
    width: 70%;
    min-height: 200px;
    z-index: 10;
    left: 15%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #dialogbox {
    width: 60%;
    min-height: 200px;
    z-index: 10;
    left: 20%;
  }
}

.dashboard{
  width: 70%;
  margin: 0 auto;
  margin-left: 200px;
}
.createEvent{
  width: 70%;
  margin: 0 auto;
  padding-top: 95px;
}
.createEvent h5,label{
  font-size: 12px !important;
}
.createEvent p{
  font-size: 10px !important;
}
.createEvent label{
  margin-right: 15px;
}

hr.light{
  border-top: .5px solid #d6d8d9;
  padding: 10px;
}

/* custom radio */
.radio{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* hide the browser's default radio button */
.radio input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* create custom radio */
.radio .check{
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}
/* an mouse-over, add border color */
.radio:hover input ~ .check{
  border: solid 2px #60292e;
}
/* add background color when the radio is checked */
.radio input:checked ~ .check{
  background: #60292e;
  border: none;
}
/* create the radio and hide when not checked */
.radio .check:after{
  content: "";
  position: absolute;
  display: none;
}
/* show the radio when checked */
.radio input:checked ~ .check:after{
  display: block;
}
/* radio style */
.radio .check:after{
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* end */


@media (max-width: 992px) {
  .dashboard{
    width: 60%;
    margin: 0 auto;
    margin-left: 170px;
  }
  .createEvent{
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 578px) {
  .dashboard{
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {

}
