.hs{
  z-index: 4;
}
.dashboard{
  width: 90%;
  margin: 0 auto;
  margin-left: 150px;
}
.dash{
  padding-top: 100px;
}
hr.light{
  border-top: 1px solid #f8f9fa;
}
label{
  font-size: 12px;
}
.profilePix{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}
/* media query */
@media (max-width: 992px) {
  .dashboard{
    width: 70%;
    margin: 0 auto;
    margin-left: 170px;
  }
  .dash{
    padding-top: 50px;
  }
}

@media (max-width: 578px) {
  .dashboard{
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .dash{
    padding-top: 50px;
  }
}
@media (max-width: 320px) {
}
