body{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  background: rgb(40, 24, 30);
  color: #fff;
}
/* sidenav */
.sidenav {
  display: none;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100;
  right: 0;
  background: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav ul {
  list-style: none;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: .3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  box-sizing: border-box;
  transition: margin-right .5s;
  transition: margin-left .5s;
}

#closeMenu {
  display: none;
}
.userPix{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #6c757d;
}

.dropAccount {
  display: none;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s ease;
}
hr.light{
  border-top: 1px solid #f8f9fa;
}
label{
  font-size: 12px;
}
.profilePix{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}
/* media query */
@media (max-width: 992px) {
  .remove {
    display: none;
  }
  .sidenav {
    display: block;
  }

}

@media (max-width: 578px) {

}
@media (max-width: 320px) {
  .img-file{
    width: 60%;
    font-size: 16px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
